applications:
  keystone:
    offers:
      keystone:
        endpoints:
        - identity-service
  swift-proxy-region1:
    offers:
      swift-proxy-region1:
        endpoints:
        - swift-storage
        - rings-distributor
  swift-storage-region1-zone1:
    charm: {{ charm_location }}
    offers:
      swift-storage-region1-zone1:
        endpoints:
        - swift-storage
  swift-storage-region1-zone2:
    charm: {{ charm_location }}
    offers:
      swift-storage-region1-zone2:
        endpoints:
        - swift-storage
  swift-storage-region1-zone3:
    charm: {{ charm_location }}
    offers:
      swift-storage-region1-zone3:
        endpoints:
        - swift-storage
